/* general */

body {
    font-family: Poppins, serif;
    color: white;
}

.hidden {
    display: none;
}

.btn-poupi {
    font-size: 250% !important;
    margin-top: 20px;
}

.listen {
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
}

.main-container {
max-width: 100%;
}

.margin-row {
    margin: 15px;
}

.back1 {
    background-color: #333333;
}

.back2 {
    background-color: #212121;
}

.back3 {
    background-color: white;
    color: black;
}

.button {
    background: white;
    padding: 15px;
    border-radius: 15px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    color: white;
    background-color: #333333;
    border: 3px solid white;
    text-decoration: none;
}

section {
    padding-top: 35px;
    padding-bottom: 45px;
}

section.footer {
    padding : 6px;
}

#c {
    width: 98vw;
    height: 100vh;
    position: absolute;
    top: 0;
}
/* navbar */

.custom-nav {
    width : 100%;
    z-index: 1;
}

.nav-link-custom {
    width : 20%;
}

.navbar-nav {
    width : 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* landing */

.landing {
    background-color: blue;
    height: 100vh;
    position: relative;
    padding: 0 !important;
    background-image: url("image/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    text-transform: uppercase;
    position: absolute;
    top: 75%;
    font-weight: bold;
    letter-spacing: 10px;
    color: black;
}

.landing-text {
    position: absolute;
    top: 85%;
    font-weight: bold;
    color: black;
}

.landing-pingouin {
    position: absolute;
    bottom: 0px;
    left: -250px;
    height: 40%;
}
/* presentation */

.padding-35 {
    padding : 35px;
}

.presentation {
    position: relative;
    overflow: hidden;
}

.cut-pingouin {
    position: absolute;
    bottom: -95px;
    right: 0;
    height: 50%;
}

.cut-text {
    position: absolute;
    bottom: 100px;
    right: 25px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.second-p {
    margin-bottom: 35px;
}

/* demo */

.demo {
    padding-top: 15px;
    padding-bottom: 25px;
}

/* rencontre */

.rencontre_title {
    padding: 10px;
}

.date-container {
    text-align: center;
    background: #333333;
    color: lightgrey;
    text-transform: uppercase;
    padding: 5%;
}

.date-container-2 {
    text-align: center;
    background: lightgrey;
    color: black;
    text-transform: uppercase;
    padding: 5%;
}
/* contact */

.round-footer {
    height: 100px;
    width: 100px;
    background: lightgrey;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

.contact i {
    font-size: 250%;
    padding-top: 30px;
    color: black;
}

.contact p {
    text-align: center;
    margin-top:10px;
}

.contact h2 {
    padding: 10px;
}

/* footer */

.footer-text {
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
}

.flyer-button {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: transparent;
    border: none;
}

.fa-download {
    padding-top: 0px !important;
}
#nyan-btn {
    width: 100%;
    height: 100%;
}
/* responsive mobile */

@media (max-width: 992px) {
    .nav-link-custom {
        width: 100%;
    }

    .landing-pingouin {
        height: 25%;
    }

    .cut-pingouin {
        bottom: -75px;
        height: 15%;
    }

    .main-title {
        top: 65%;
    }

    #c {
        top: -20%;
    }
    section {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    .landing {
        padding: 0 !important;
    }

    .cut-text {
        bottom: 25px;
        right: 5px;
    }
}

/* animation */

@keyframes float {
    0% {
        transform:  translateX(-50px) rotate(0deg);
    }

    30% {
        transform:  translateX(-0px) rotate(0deg);
    }

    40% {
        transform:  translateX(-0px) rotate(50deg);
    }

    50% {
        transform:  translateX(-0px) rotate(50deg);
    }

    60% {
        transform:  translateX(-0px) rotate(0deg);
    }

    100% {
        transform: translateX(-50px) rotate(0deg);
    }
}

.landing-pingouin {
    animation: float 10s linear infinite;
}

@keyframes float-hidden {
    0% {
        transform: translatey(+25px);
    }
    35% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(0px);
    }
    65% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(+25px);
    }
}

.cut-pingouin {
    animation: float-hidden 5s ease-in-out infinite;
}

@keyframes float-hidden-text {
    0% {
        opacity: 0%;
    }
    35% {
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    65% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.cut-text {
    animation: float-hidden-text 5s ease-in-out infinite;
}

/* test */

.hover .img {
    overflow: hidden;
    transform: rotate(0.0001deg);
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hover img {
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
}
.hover:hover .img {
    transform: scale(0.95);
    width: 100%;
}
.hover:hover img {
    transform: scale(1.15);
    width: 100%;
}

div.img {
    text-align: center;
}