/* general */

body {
    font-family: Poppins;
    color: white;
}

.main-container {
max-width: 100%;
}

.back1 {
    background-color: #333333;
}

.back2 {
    background-color: #212121;
}

.button {
    background: white;
    padding: 15px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
/* navbar */

.custom-nav {
    width : 100%;
}

.nav-link-custom {
    width : 25%;
}

.navbar-nav {
    width : 100%;
}
/* landing */

.landing {
    background-color: blue;
    height: 100vh;
    position: relative;
}

.main-title {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    font-weight: bold;
    letter-spacing: 10px;
}

.landing-text {
    position: absolute;
    top: 60%;
    font-weight: bold;
}

.landing-pingouin {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 40%;
}
/* presentation */

.padding-35 {
    padding : 35px;
}

.presentation {
    position: relative;
    overflow: hidden;
}

.cut-pingouin {
    position: absolute;
    bottom: -95px;
    right: 0;
    height: 50%;
}

.second-p {
    margin-bottom: 35px;
}

/* demo */

.demo {
    padding-top: 15px;
    padding-bottom: 25px;
}

/* rencontre */

.rencontre_title {
    padding: 10px;
}

/* contact */

.round-footer {
    height: 100px;
    width: 100px;
    background: blue;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

.contact i {
    font-size: 250%;
    padding-top: 30px;
}

.contact p {
    text-align: center;
    margin-top:10px;
}

.contact h2 {
    padding: 10px;
}

/* footer */

.footer-text {
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
}

/* responsive mobile */

@media (max-width: 992px) {
    .nav-link-custom {
        width: 100%;
    }

    .landing-pingouin {
        height: 25%;
    }

    .cut-pingouin {
        bottom: -75px;
        height: 15%;
    }

    .main-title {
        top: 45%;
    }

    section {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    .landing {
        padding: 0 !important;
    }
}

/* animation */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.landing-pingouin {
    animation: float 6s ease-in-out infinite;
}

@keyframes float-hidden {
    0% {
        transform: translatey(+25px);
    }
    35% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(0px);
    }
    65% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(+25px);
    }
}

.cut-pingouin {
    animation: float-hidden 5s ease-in-out infinite;
}